.communityBackground {
  background-color: rgb(95, 86, 86);
}

.social-media-a {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  @media (max-width:500px) {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: inline-block;
  }
}

.social-media-a:hover .social-media-icon { 
  transition: .5s; 
  transform: rotateY(360deg);  
}