.ecoBackground {
  background-color:#262626;
}

.cardBurnBackround {
  background:#333;
}

.cardReflectionBackround {
  background:#333;
}

.cardNftBackround {
  background:#333;
}

.cardStackingBackround {
  background:#333;
}

.layerBurnBackground {
  background:tomato;
}

.layerReflectionBackground {
  background:lightblue;
}

.layerNftBackground {
  background:yellowgreen;
}

.layerStackingBackground {
  background:cornflowerblue;
}