.card {  
  position:relative;
  overflow:hidden;  
  padding:1rem;
  box-sizing:border-box;
  box-shadow:0 10px 40px rgba(0,0,0,.5)
}

.card .layer {
  z-index:1;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  transition:0.5s;  
}

.card .content {
  z-index:2; 
  position:relative;
}

.card:hover .layer{
  top:0;
}