.getTokenBackground {
  background-color:#262626;
}

.cardSundaeBackround {
  background:#333;
}

.cardRainyBackround {
  background:#333;
}

.cardHotBackround {
  background:#333;
}

.cardCloudyBackround {
  background:#333;
}

.layerSundaeBackground {
  background:gold;
}

.layerRainyBackground {
  background:lightblue;
}

.layerHotBackground {
  background:tomato;
}

.layerCloudyBackground {
  background:cornflowerblue;
}